        /* .wrapper {
        display: flex;
    }
    
    h3 {
        text-align: center;
    }
    
    .jk {
        width: 150px;
        height: 80px;
        background-color: darkslateblue;
        border: 1px solid black;
        transition: .5s linear;
    }
    
    .menu2 {
        position: relative;
    }
    
    .dropbar {
        position: absolute;
        min-height: 20vh;
        top: 100%;
        background-color: darkslateblue;
        width: 150px;
        display: none;
    }
    
    .jk:hover {
        background-color: rgb(46, 36, 113);
    }
    
    .menu2:hover .drobpar {
        display: inline-block;
        visibility: visible;
    } */
        
        .flexbox {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        body {
            height: 100vh;
            color: #fff;
            text-align: center;
            cursor: pointer;
            background-color: #3c3b3d;
            font-size: 16px;
        }
        
        .wrapper {
            display: flex;
        }
        
        .menu {
            background-color: #00aaff;
            color: #fff;
            cursor: pointer;
            height: 50px;
            line-height: 50px;
            position: relative;
            width: 200px;
            display: flex;
        }
        
        .menu h1 {
            text-align: center;
        }
        
        .option1 {
            width: 200px;
            height: 50px;
            background-color: #00aaff;
        }
        
        .option2 {
            width: 200px;
            height: 50px;
            background-color: #00aaff;
        }
        
        .dropdown-menu {
            position: absolute;
            text-align: center;
            visibility: hidden;
            background-color: #fff;
        }
        
        .dropdown-menu a {
            color: #000;
            display: inline-block;
            width: 100%;
            text-decoration: none;
        }
        
        .dropdown-menu a:hover {
            background: #cd5555;
            color: #fff;
        }
        
        .menu:hover .dropdown-menu {
            background: #efefef;
            opacity: 1;
            visibility: visible;
            top: 100%;
            width: 100%;
        }